header {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    background-image: url("../images/logo.png");
    /*background-size: contain;*/
    background-position: left 20px center;
    display: block;
    height: 100%;
    width: 160px;
    background-repeat: no-repeat;
    margin-left: 20px;
}
