.places {
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 45px auto;
    display: flex;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 100%;
    text-align: left;
}

article {
    width: calc(50% - 20px);
    padding: 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
}

.article h2 {
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: auto;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
.suite_title {
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -25%;
    transform: none;
}
